/* Color Palette
#f5f5f5 - color 1
#879FA7 - color 2
#575975 - color 3
#0E3E4E - color 4
#141414 - color 5
*/
/* font
font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;
 */
/* Global styles
------------------------------------*/
html{
  box-sizing: border-box;
}
*,*:before, *:after{
  box-sizing: inherit;
}
body {
  background: #879FA7;
  color: white;
  margin: 0;
}

body, h1 {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  /* font-size: 2rem; */
  margin-top: 0;
}

h2, p {
  font-family: 'Roboto Slab', serif;
}

a {
  color: white;
}

li {
  font-family: 'Roboto Slab', serif;
}

/* keeps the navigation bar at the top */

.content-wrap {
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}

/* Header & Footer
------------------------------------*/
header {
  /* background: #0E3E4E; */
  /* background-image: url("../images/epcot.png"); */
}

header h1, header h2 {
  margin: 0;
}

.profile-img {
  /* width: 300px; */
  border-radius: 50%;
  /* float: left; */
  /* margin-right:30px; */
}

footer {
  background: #0E3E4E;
  color: white;
  text-align: center;
}
/* navigation-bar
----------------------------- */
.nav-bar{
  text-align: center;
  padding: 1%;
  position: fixed;
  background-color: inherit;
  width: 100%;
  top: 0px;
}

.nav-bar a{
  padding: 2%;
}


#about{
  padding-top: 100px;
  /* added margin spacing to compensate for the nav bar */

background: linear-gradient(90deg, rgba(11,194,231,.5) 21%, rgba(2,0,36,.5) 100%), url("../images/epcot.png");;
}


/* Work Experience
------------------------------------*/
/* changed to id so I could point to this section from the nav bar */

#experience {
  background: #F5F5F5;
  color: #000000;
}

/* Education
------------------------------------*/
/* changed to id so I could point to this section from the nav bar */

#education {
  background: #575975;
}

.education li {
  list-style-type: none;
}

/* content columns
----------------------------------------- */
.column-narrow {
  width: 30%;
  float: left;
  padding-right: 3%;
  min-height: 175px;
}

.column-wide {
  width: 70%;
  float:left;
  min-height: 225px;
}

/* footer
--------------------------------------- */
/* changed to id so I could point to this section from the nav bar */
#contact-info a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 1.2rem;
}

footer p{
  font-size: 0.9rem;
}
